language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - 1.1
  - nightly

notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'using Pkg; pkg"build QuantumInformation"; pkg"add StatsBase"; pkg"add Test"'
  - julia --code-coverage test/runtests.jl 
  - julia -e 'using Pkg; pkg"add Distributions"';
  - julia --code-coverage randommatrices/test/runtests.jl

after_success:
  - julia -e 'import QuantumInformation; using Pkg; pkg"add Coverage"; using Coverage; Coveralls.submit(vcat(process_folder(), process_folder("randommatrices/src")))'

jobs:
  include:
    - stage: "Documentation"
      julia: 1.0
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.add("SCS"); Pkg.add("Documenter"); Pkg.instantiate();
                                    Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs/ docs/make.jl
      after_success: skip
